<!-- <div>
  <div>
    <div
      style="
        margin-top: 20px;
        margin-left: 10px;
        margin-bottom: 30px;
        padding: 20px;
      "
    >
      <img src="assets/images/logo.png" width="220" alt="Logo" class="logo" />
    </div>
    <div style="font-size: 20px; border: 1px solid red; width: 15%">
      <ul class="nav flex-column">
        <li class="nav-item" style="margin-bottom: 10px; margin-top: 15px">
          <a
            class="nav-link active"
            style="color: rgb(5, 5, 5) !important"
            aria-current="page"
            href="#"
            >Dashboard</a
          >
        </li>
        <li class="nav-item" style="margin-bottom: 10px">
          <a
            class="nav-link active"
            style="color: rgb(5, 5, 5) !important"
            aria-current="page"
            href="#"
            >CheckIn/Out</a
          >
        </li>
        <li class="nav-item" style="margin-bottom: 10px">
          <a
            class="nav-link active"
            style="color: rgb(5, 5, 5) !important"
            aria-current="page"
            href="#"
            >Attendence</a
          >
        </li>
        <li class="nav-item" style="margin-bottom: 10px">
          <a
            class="nav-link active"
            style="color: rgb(5, 5, 5) !important"
            aria-current="page"
            href="#"
            >Leave Management</a
          >
        </li>
        <li class="nav-item" style="margin-bottom: 10px">
          <a
            class="nav-link active"
            style="color: rgb(5, 5, 5) !important"
            aria-current="page"
            href="#"
            >Employee Management</a
          >
        </li>
        <li class="nav-item" style="margin-bottom: 10px">
          <a
            class="nav-link active"
            style="color: rgb(5, 5, 5) !important"
            aria-current="page"
            href="#"
            >Loan Management</a
          >
        </li>
        <li class="nav-item" style="margin-bottom: 10px">
          <a
            class="nav-link active"
            style="color: rgb(5, 5, 5) !important"
            aria-current="page"
            href="#"
            >Public Holiday</a
          >
        </li>
        <li class="nav-item" style="margin-bottom: 10px">
          <a
            class="nav-link active"
            style="color: rgb(5, 5, 5) !important"
            aria-current="page"
            href="#"
            >Reports</a
          >
        </li>
        <li class="nav-item" style="margin-bottom: 10px">
          <a
            class="nav-link active"
            style="color: rgb(5, 5, 5) !important"
            aria-current="page"
            href="#"
            >Tasks Management</a
          >
        </li>
        <li class="nav-item" style="margin-bottom: 10px">
          <a
            class="nav-link active"
            style="color: rgb(5, 5, 5) !important"
            aria-current="page"
            href="#"
            >Vistior Management</a
          >
        </li>
        <li class="nav-item" style="margin-bottom: 10px">
          <a
            class="nav-link active"
            style="color: rgb(5, 5, 5) !important"
            aria-current="page"
            href="#"
            >Upgrade to Premium</a
          >
        </li>
      </ul>
    </div>

    <div>hello</div>
  </div>
</div> -->
<div class="main-container">
  <div class="row main-container">
    <div class="col-md-2 col-sm-6" style="margin-top: 20px; padding: 10px">
      <div style="font-size: 20px; width: 100%">
        <ul class="nav flex-column">
          <img
            src="assets/images/logo.png"
            alt="Logo"
            class="logo img-fluid"
            style="
              width: 100%;
              height: auto;
              padding: 20px;
              margin-bottom: 60px;
            "
          />

          <li class="nav-item" style="margin-bottom: 10px; margin-top: 15px">
            <a
              class="nav-link active"
              style="color: rgb(5, 5, 5) !important"
              aria-current="page"
              href="#"
              >Dashboard</a
            >
          </li>
          <li class="nav-item" style="margin-bottom: 10px">
            <a
              class="nav-link active"
              style="color: rgb(5, 5, 5) !important"
              aria-current="page"
              href="#"
              >CheckIn/Out</a
            >
          </li>
          <li class="nav-item" style="margin-bottom: 10px">
            <a
              class="nav-link active"
              style="color: rgb(5, 5, 5) !important"
              aria-current="page"
              href="#"
              >Attendence</a
            >
          </li>
          <li class="nav-item" style="margin-bottom: 10px">
            <a
              class="nav-link active"
              style="color: rgb(5, 5, 5) !important"
              aria-current="page"
              href="#"
              >Leave Management</a
            >
          </li>
          <li class="nav-item" style="margin-bottom: 10px">
            <a
              class="nav-link active"
              style="color: rgb(5, 5, 5) !important"
              aria-current="page"
              href="#"
              >Employee Management</a
            >
          </li>
          <li class="nav-item" style="margin-bottom: 10px">
            <a
              class="nav-link active"
              style="color: rgb(5, 5, 5) !important"
              aria-current="page"
              href="#"
              >Loan Management</a
            >
          </li>
          <li class="nav-item" style="margin-bottom: 10px">
            <a
              class="nav-link active"
              style="color: rgb(5, 5, 5) !important"
              aria-current="page"
              href="#"
              >Public Holiday</a
            >
          </li>
          <li class="nav-item" style="margin-bottom: 10px">
            <a
              class="nav-link active"
              style="color: rgb(5, 5, 5) !important"
              aria-current="page"
              href="#"
              >Reports</a
            >
          </li>
          <li class="nav-item" style="margin-bottom: 10px">
            <a
              class="nav-link active"
              style="color: rgb(5, 5, 5) !important"
              aria-current="page"
              href="#"
              >Tasks Management</a
            >
          </li>
          <li class="nav-item" style="margin-bottom: 10px">
            <a
              class="nav-link active"
              style="color: rgb(5, 5, 5) !important"
              aria-current="page"
              href="#"
              >Vistior Management</a
            >
          </li>
          <li class="nav-item" style="margin-bottom: 10px">
            <a
              class="nav-link active"
              style="color: rgb(5, 5, 5) !important"
              aria-current="page"
              href="#"
              >Upgrade to Premium</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div
      class="col-md-10"
      style="border: 1px solid red; padding: 20px; height: 100vh"
    >
      <div style="height: 8%; margin-bottom: 40px">
        <div
          style="
            float: right;
            padding: 23px 20px 0px 20px;

            width: 30%;
            display: flex;
          "
        >
          <a
            style="margin-right: 20px"
            _ngcontent-ng-c653897999=""
            target="_blank"
            href="https://workforceverse.atlassian.net/servicedesk/customer/portal/1/group/1/create/1"
          >
            Click here for Software Support
          </a>
          <p style="font-size: 18px; margin-right: 10px">| Name</p>

          <mat-icon style="color: black; font-size: 25px"
            >perm_identity</mat-icon
          >
        </div>
      </div>

      <div style="height: 89%; border: 1px solid blue">
        <div style="display: flex; flex-direction: row">
          <span style="font-size: 20px">Total Employee:</span>
          <span>[employee count here] </span>

          <mat-form-field>
            <select class="mat-form">
              <option value="disable">Select</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
          </mat-form-field>
          <mat-form-field>
            <select matNativeControl required>
              <option value="disable">Select</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
          </mat-form-field>
        </div>
        <div
          style="
            display: flex;
            width: 100%;
            justify-content: space-between;

            gap: 12px;
          "
        >
          <div
            style="
              background-color: #dcfce7;
              width: 25%;
              height: 15vh;
              border-radius: 10px;
            "
          >
            hello
          </div>
          <div
            style="
              background-color: #fee2e1;
              width: 25%;
              height: 15vh;
              border-radius: 10px;
            "
          >
            hello
          </div>

          <div
            style="
              background-color: #ffedd5;
              width: 25%;
              height: 15vh;
              border-radius: 10px;
            "
          >
            hello
          </div>
          <div
            style="
              background-color: #edeaff;
              width: 25%;
              height: 15vh;
              border-radius: 10px;
            "
          >
            hello
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
