<!-- <div>
  <div>
    <div
      style="
        margin-top: 20px;
        margin-left: 10px;
        margin-bottom: 30px;
        padding: 20px;
      "
    >
      <img src="assets/images/logo.png" width="220" alt="Logo" class="logo" />
    </div>
    <div style="font-size: 20px; border: 1px solid red; width: 15%">
      <ul class="nav flex-column">
        <li class="nav-item" style="margin-bottom: 10px; margin-top: 15px">
          <a
            class="nav-link active"
            style="color: rgb(5, 5, 5) !important"
            aria-current="page"
            href="#"
            >Dashboard</a
          >
        </li>
        <li class="nav-item" style="margin-bottom: 10px">
          <a
            class="nav-link active"
            style="color: rgb(5, 5, 5) !important"
            aria-current="page"
            href="#"
            >CheckIn/Out</a
          >
        </li>
        <li class="nav-item" style="margin-bottom: 10px">
          <a
            class="nav-link active"
            style="color: rgb(5, 5, 5) !important"
            aria-current="page"
            href="#"
            >Attendence</a
          >
        </li>
        <li class="nav-item" style="margin-bottom: 10px">
          <a
            class="nav-link active"
            style="color: rgb(5, 5, 5) !important"
            aria-current="page"
            href="#"
            >Leave Management</a
          >
        </li>
        <li class="nav-item" style="margin-bottom: 10px">
          <a
            class="nav-link active"
            style="color: rgb(5, 5, 5) !important"
            aria-current="page"
            href="#"
            >Employee Management</a
          >
        </li>
        <li class="nav-item" style="margin-bottom: 10px">
          <a
            class="nav-link active"
            style="color: rgb(5, 5, 5) !important"
            aria-current="page"
            href="#"
            >Loan Management</a
          >
        </li>
        <li class="nav-item" style="margin-bottom: 10px">
          <a
            class="nav-link active"
            style="color: rgb(5, 5, 5) !important"
            aria-current="page"
            href="#"
            >Public Holiday</a
          >
        </li>
        <li class="nav-item" style="margin-bottom: 10px">
          <a
            class="nav-link active"
            style="color: rgb(5, 5, 5) !important"
            aria-current="page"
            href="#"
            >Reports</a
          >
        </li>
        <li class="nav-item" style="margin-bottom: 10px">
          <a
            class="nav-link active"
            style="color: rgb(5, 5, 5) !important"
            aria-current="page"
            href="#"
            >Tasks Management</a
          >
        </li>
        <li class="nav-item" style="margin-bottom: 10px">
          <a
            class="nav-link active"
            style="color: rgb(5, 5, 5) !important"
            aria-current="page"
            href="#"
            >Vistior Management</a
          >
        </li>
        <li class="nav-item" style="margin-bottom: 10px">
          <a
            class="nav-link active"
            style="color: rgb(5, 5, 5) !important"
            aria-current="page"
            href="#"
            >Upgrade to Premium</a
          >
        </li>
      </ul>
    </div>

    <div>hello</div>
  </div>
</div> -->
<div class="main-container">
  <div class="row main-container">
    <div class="col-md-2 col-sm-6" style="margin-top: 20px; padding: 10px">
      <div style="font-size: 20px; width: 100%">
        <ul class="nav flex-column">
          <img
            src="assets/images/logo.png"
            alt="Logo"
            class="logo img-fluid"
            style="
              width: 100%;
              height: auto;
              padding: 20px;
              margin-bottom: 60px;
            "
          />

          <li class="nav-item" style="margin-bottom: 10px; margin-top: 15px">
            <a
              class="nav-link active"
              style="color: rgb(5, 5, 5) !important"
              aria-current="page"
              [routerLink]="['/main-dashboard']"
              >Dashboard</a
            >
          </li>
          <li class="nav-item" style="margin-bottom: 20px">
            <a
              class="nav-link active"
              style="color: rgb(5, 5, 5) !important"
              aria-current="page"
              href="#"
              >CheckIn/Out</a
            >
          </li>
          <li class="nav-item" style="margin-bottom: 20px">
            <a
              class="nav-link active"
              style="color: rgb(5, 5, 5) !important"
              aria-current="page"
              href="#"
              >Attendence</a
            >
          </li>
          <li class="nav-item" style="margin-bottom: 20px">
            <a
              class="nav-link active"
              style="color: rgb(5, 5, 5) !important"
              aria-current="page"
              href="#"
              >Leave Management</a
            >
          </li>
          <li class="nav-item" style="margin-bottom: 20px">
            <a
              class="nav-link active"
              style="color: rgb(5, 5, 5) !important"
              aria-current="page"
              [routerLink]="['/main-dashboard/employee-management']"
              >Employee Management</a
            >
          </li>
          <li class="nav-item" style="margin-bottom: 20px">
            <a
              class="nav-link active"
              style="color: rgb(5, 5, 5) !important"
              aria-current="page"
              href="#"
              >Loan Management</a
            >
          </li>
          <li class="nav-item" style="margin-bottom: 20px">
            <a
              class="nav-link active"
              style="color: rgb(5, 5, 5) !important"
              aria-current="page"
              href="#"
              >Public Holiday</a
            >
          </li>
          <li class="nav-item" style="margin-bottom: 20px">
            <a
              class="nav-link active"
              style="color: rgb(5, 5, 5) !important"
              aria-current="page"
              href="#"
              >Reports</a
            >
          </li>
          <li class="nav-item" style="margin-bottom: 20px">
            <a
              class="nav-link active"
              style="color: rgb(5, 5, 5) !important"
              aria-current="page"
              href="#"
              >Tasks Management</a
            >
          </li>
          <li class="nav-item" style="margin-bottom: 20px">
            <a
              class="nav-link active"
              style="color: rgb(5, 5, 5) !important"
              aria-current="page"
              href="#"
              >Vistior Management</a
            >
          </li>
          <li class="nav-item" style="margin-bottom: 20px">
            <a
              class="nav-link active"
              style="color: rgb(5, 5, 5) !important"
              aria-current="page"
              href="#"
              >Upgrade to Premium</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-10 col-sm-6" style="margin-top: 20px; padding: 10px">
      <div class="row" style="margin-top: 20px">
        <div class="col-md-12 col-sm-12" style="padding: 10px">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
