<div style="width: 100%">
  <div class="row row1">
    <div class="col-sm-12 col-md-6 col-lg-4" style="padding: 50px 0px 0px 20px">
      <img
        height="50"
        src="
          ./assets/images/logo.png"
      />

      <div style="margin-top: 50px" class="form-group">
        <label> Login</label>
        <input
          type="text"
          name="username"
          placeholder="enter name"
          class="form-control"
          [(ngModel)]="username"
        />
      </div>
      <div style="margin-top: 20px" class="form-group">
        <label> Password</label>
        <input
          type="text"
          name="password"
          placeholder="enter password"
          class="form-control"
          [(ngModel)]="password"
        />
      </div>
      <button type="submit" class="btn-login" (click)="loginUser()">
        Login
      </button>

      <div>
        <a href="https://workforceverse.com/">workforceverse.com</a>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8" style="align-items: center">
      <h1
        style="
          font-weight: 700;
          text-align: center;
          margin-top: 50px;
          padding: 0px 20px;
        "
      >
        Meet the new standard in employee attendance tracking
      </h1>
      <img
        src="./assets/images/confirm2.jpg"
        style="max-width: 100%; max-height: 100%; object-fit: contain"
      />
    </div>
  </div>
</div>
