<div class="container">
  <div style="margin-top: 60px"><h1>Employee Management</h1></div>
  <div style="display: flex; justify-content: space-between; margin-top: 3%">
    <div
      style="
        width: 40%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
      "
    >
      <input
        style="
          width: 70%;
          height: 50px;
          border-radius: 10px;
          border: 1px solid rgb(231, 223, 223);
        "
        matInput
        placeholder="Search"
      />

      <button class="btn-filter" style="border: none">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
          height="14px"
        >
          <path
            d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"
          />
        </svg>
        show filter
      </button>
    </div>
    <div
      style="
        width: 25%;
        height: 50px;
        display: flex;
        justify-content: space-between;
      "
    >
      <button
        style="
          width: 35%;

          border-radius: 10px;
          background-color: rgb(139, 48, 224);
          border: none;
          color: white;
          font-size: 18px;
        "
      >
        Sort By
      </button>
      <button
        style="
          width: 55%;

          border-radius: 10px;
          background-color: blueviolet;
          border: none;
          color: white;
          font-size: 18px;
        "
      >
        Add Employee
      </button>
    </div>
  </div>
  <div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Employee Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="passportNationality">
          <th mat-header-cell *matHeaderCellDef>Passport</th>
          <td mat-cell *matCellDef="let element">
            {{ element.passportNationality }}
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="visaIssueDate">
          <th mat-header-cell *matHeaderCellDef>Visa</th>
          <td mat-cell *matCellDef="let element">
            {{ element.visaIssueDate }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator [length]="20" [pageSize]="10" [pageSizeOptions]="[5, 10]">
      </mat-paginator>
    </div>
  </div>
</div>
