<div class="container">
  <div class="container" style="margin-top: 10px; width: 100%">
    <nav class="navbar navbar-expand-lg bg-body-tertiary w-100">
      <div class="container-fluid">
        <!-- Brand Logo + Toggle -->

        <img
          src="./assets/images/logo.png"
          width="330px"
          height="70px"
          class="img-fluid"
        />

        <!-- Toggler for small screens -->
        <button
          class="navbar-toggler site-navbar-wrap"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible Content -->
        <div
          class="collapse navbar-collapse justify-content-between align-items-center"
          id="navbarSupportedContent"
        >
          <!-- Centered Menu -->
          <div class="mx-auto text-center">
            <ul
              class="navbar-nav d-flex flex-column flex-lg-row justify-content-start justify-content-lg-center align-items-start align-items-lg-center gap-3 gap-lg-4 mb-2 mb-lg-0"
              style="font-size: 20px"
            >
              <li class="nav-item">
                <a class="nav-link active" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Price</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
              </li>
            </ul>
          </div>

          <!-- Buttons on Right -->
          <div
            class="demo-buttons d-flex mt-3 mt-lg-0"
            style="
              width: 250px;
              justify-content: space-between;
              flex-wrap: nowrap;
              align-items: center;
            "
          >
            <a routerLink="/login" routerLinkActive="active">
              <button
                class="btn btn-outline-success"
                type="submit"
                style="
                  background-color: rgb(255, 255, 255);
                  width: 100px;
                  color: rgb(21, 7, 143);
                  font-weight: 600;
                "
              >
                <i class="fa-solid fa-arrow-right"></i>
                Log in
              </button>
            </a>
            <button
              class="btn btn-outline-success"
              type="submit"
              style="
                background-color: rgb(10, 10, 204);
                color: white;
                width: 140px;
                font-weight: 600;
              "
            >
              Book a Demo
            </button>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div>
    <div class="container" style="margin-top: 70px">
      <div class="row">
        <!-- First Column -->
        <div class="col-sm-12 col-md-12 col-lg-6">
          <h1>
            <strong style="color: blueviolet; font-size: 36px">
              HR & Attendance
            </strong>
          </h1>
          <h5>UKVI Sponsorship Compliance Management Platform</h5>
          <b style="font-size: 18px">
            Experience the Future of Business Management with WorkForceVerse!
          </b>
          <p style="font-size: 15px">
            At WorkForceVerse, we understand the importance of efficient
            Business Management for organizations of all sizes. Our
            comprehensive and user-friendly Business Management system is
            designed to streamline the process, eliminate manual tracking, and
            enhance productivity. Whether you're a small business, educational
            institution, or a large corporation, Workforce Verse has got you
            covered.
          </p>
          <div class="row" style="display: flex">
            <div class="col-sm-3">
              <img src="./assets/images/audit.png" width="99" height="51" />
            </div>
            <div class="col-sm-3" style="padding-top: 15px">
              <img
                src="./assets/images/skillslogo.png"
                width="174"
                height="47"
              />
            </div>
            <div class="col-sm-3">
              <img src="./assets/images/auszlogo.png" width="114" height="81" />
            </div>
            <div class="col-sm-3">
              <img src="./assets/images/bdslogo.png" width="111" height="43" />
            </div>
          </div>
        </div>

        <!-- Second Column for heelo -->
        <div class="col-sm-12 col-md-12 col-lg-6 d-flex justify-content-center">
          <div class="mobile-image">
            <img src="./assets/images/mobile.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    style="
      width: 100%;

      margin-top: 70px;
      display: flex;

      flex-direction: row;
      gap: 100px;
    "
  >
    <!-- <div style="width: 32%; align-items: center; text-align: center">
      <img
        src="./assets/images/laptop2.png"
        style="max-width: 100%; height: auto"
      />
      <div
        style="
          display: flex;
          flex-direction: column;
          gap: 5px;
          margin-top: 30px;
        "
      >
        <h3><b>Data-Driven Insights Dashboard</b></h3>
        <p>
          Empower informed decisions with Workforceverse's comprehensive data
          analytics dashboard
        </p>
      </div>
    </div>
    <div style="width: 32%; align-items: center; text-align: center">
      <img
        src="./assets/images/laptop1.png"
        style="max-width: 100%; height: auto"
      />
      <div
        style="
          display: flex;
          flex-direction: column;
          gap: 5px;
          margin-top: 30px;
        "
      >
        <h3><b>Employee Profile Insights</b></h3>
        <p>
          Gain comprehensive insights into employee performance and metrics with
          Workforceverse's Profile Insights feature
        </p>
      </div>
    </div>
    <div style="width: 32%; align-items: center; text-align: center">
      <img
        src="./assets/images/laptop2.png"
        style="max-width: 100%; height: auto"
      />
      <div
        style="
          display: flex;
          flex-direction: column;
          gap: 5px;
          margin-top: 30px;
        "
      >
        <h3><b>Leave Statistics Insights</b></h3>
        <p>
          Explore detailed leave statistics and trends for enhanced workforce
          management with Workforceverse's insightful analytics
        </p>
      </div>
    </div> -->

    <div class="row">
      <div class="second-section col-sm-12 col-md-4 col-lg-4">
        <div class="second-section">
          <img
            src="./assets/images/laptop2.png"
            style="max-width: 100%; height: auto"
          />
          <div
            style="
              display: flex;
              flex-direction: column;
              gap: 5px;
              margin-top: 30px;
              text-align: center;
            "
          >
            <h3><b>Data-Driven Insights Dashboard</b></h3>
            <p>
              Empower informed decisions with Workforceverse's comprehensive
              data analytics dashboard
            </p>
          </div>
        </div>
      </div>
      <div class="second-section col-sm-12 col-md-4 col-lg-4">
        <div class="second-section">
          <img
            src="./assets/images/laptop2.png"
            style="max-width: 100%; height: auto"
          />
          <div
            style="
              display: flex;
              flex-direction: column;
              gap: 5px;
              margin-top: 30px;
              text-align: center;
            "
          >
            <h3><b>Data-Driven Insights Dashboard</b></h3>
            <p>
              Empower informed decisions with Workforceverse's comprehensive
              data analytics dashboard
            </p>
          </div>
        </div>
      </div>
      <div class="second-section col-sm-12 col-md-4 col-lg-4">
        <div class="second-section">
          <img
            src="./assets/images/laptop2.png"
            style="max-width: 100%; height: auto"
          />
          <div
            style="
              display: flex;
              flex-direction: column;
              gap: 5px;
              margin-top: 30px;
              text-align: center;
            "
          >
            <h3><b>Data-Driven Insights Dashboard</b></h3>
            <p>
              Empower informed decisions with Workforceverse's comprehensive
              data analytics dashboard
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-sm-12 col-md-4 col-lg-4 text-center">
      <div class="third-section py-4 px-5">
        <h4>LEAVE MANAGEMENT</h4>
        <p>
          Streamline your leave management with WorkforceVerse.com. Our
          intuitive platform enables employees to effortlessly apply for leave,
          view their leave balances, and monitor request statuses.
          Administrators gain quick access to approve requests, manage leave
          policies, and generate detailed reports. Integrating seamlessly with
          our comprehensive attendance system, our tool ensures accuracy and
          efficiency in handling employee time-off. Simplify your leave
          management process with WorkforceVerse.com, where managing employee
          leaves becomes as easy as a few clicks.
        </p>
        <button class="btn-third">Explore Tracking</button>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 text-center">
      <div class="third-section py-4 px-5">
        <h4>LEAVE MANAGEMENT</h4>
        <p>
          Streamline your leave management with WorkforceVerse.com. Our
          intuitive platform enables employees to effortlessly apply for leave,
          view their leave balances, and monitor request statuses.
          Administrators gain quick access to approve requests, manage leave
          policies, and generate detailed reports. Integrating seamlessly with
          our comprehensive attendance system, our tool ensures accuracy and
          efficiency in handling employee time-off. Simplify your leave
          management process with WorkforceVerse.com, where managing employee
          leaves becomes as easy as a few clicks.
        </p>
        <button class="btn-third">Explore Leaves</button>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 text-center">
      <div class="third-section py-4 px-5">
        <h4>LEAVE MANAGEMENT</h4>
        <p>
          Streamline your leave management with WorkforceVerse.com. Our
          intuitive platform enables employees to effortlessly apply for leave,
          view their leave balances, and monitor request statuses.
          Administrators gain quick access to approve requests, manage leave
          policies, and generate detailed reports. Integrating seamlessly with
          our comprehensive attendance system, our tool ensures accuracy and
          efficiency in handling employee time-off. Simplify your leave
          management process with WorkforceVerse.com, where managing employee
          leaves becomes as easy as a few clicks.
        </p>
        <button class="btn-third">Explore Tasks</button>
      </div>
    </div>
  </div>
</div>
